* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Renogare', sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  background-color: #f0e68c;
}

.logo {
    margin-right: auto;
  }
  
.login {
    
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cadastro{

    margin-left: 20px;
    padding: 9px 25px;
    background-color: #1592b1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    
  }

.loginSVG {
    
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    fill:  #f0e68c;
  }

.login:hover, .loginSVG:hover {
  background-color: #2ecc71;
  color: #ffffff;
}

.cadastro:hover{
    background-color: #ffffff;
    color: #000;
  }
  
.navegacaolinks {
  list-style: none;
  display: flex;
}

.navegacaolinks a, .login{
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.navegacaolinks li {
  padding: 0px 20px;
}

.navegacaolinks li a {
  transition: all 0.3s ease 0s;
}

.navegacaolinks li a:hover {
  color: #ff7f50;
}

h1, div{
  font-weight: 100;
  color: #000;
}

a:visited {
    color: black; 
  }