@import url("https://fonts.cdnfonts.com/css/renogare");

/* Familia da fonte e algumas configurações */
* {
  font-family: "Renogare", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}
/* 16px  */

h1 {
  font-size: 4.21rem;
  line-height: 64px;
}
/* 67.36px  */

h2 {
  font-size: 3.158rem;
}
/* 50.56px  */

h3 {
  font-size: 2.369rem;
}
/* 37.92px  */

h4 {
  font-size: 1.777rem;
}
/* 28.48px  */

h5 {
  font-size: 1.333rem;
}
/* 21.28px  */

p {
  font-size: 0.75rem;
  color: #1c1717;
}
/* 12px  */

body {
  width: 100%;
}

/* Padding acima e abaixo e aos lados */
.section-p1 {
  padding: 40px 80px;
}

/* Margem acima e abaixo */
.section-m1 {
  margin: 40px 0;
}

/* Botão padrao  */
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #0d0d0d;
  background-color: yellowgreen;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

/* Inicio index.html */

/* Barra de navegação/navbar */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background: #f2f2f2;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  font-size: 20px;
  font-weight: 500;
  color: #1c1717;
  transition: 0.2s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #bea499;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 75%;
  height: 2px;
  background: #baa7a0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

#navbar > li:nth-child(n + 3) > a {
  margin: 0px -10px;
  padding: 10px;
  color: black;
  background: #baa7a0;
  border-radius: 5px;
}

#navbar > li:nth-child(n + 3) > a:hover{
  background: #333;
  color: white;
}

#navbar > form > li > button > i{
  font-size: 30px;
  margin: 0px -30px;
}

#navbar > form > li > button > i:hover{
  color: #bea499;
}

/* Header/hero inicio do site */
#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
  url("/static/loja/img/banner/MUITOSDOGS.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  width: 100%;
  background-size: cover;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #eaeaea;
}

#hero h3 {
  margin: 0px 0px 0px 0px;
  font-size: 64px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 400;
}

#hero p {
  margin: 0px 0px 50px 0px;
  color: yellow;
  text-align: center;
  font-size: 20px;
}

#hero button {
  align-self: center;
  width: 40vh;
  background-color: white;
  border: 2px solid white;
  color: white;
  padding: 20px 0px 20px 0px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#hero button:hover {
  background-color: #a1a5a4;
  color: white;
}

#hero a {
  color: #1c1717;
}

/* Recursos/features coloridos, se pá meter mais um pra ficar certinho ou diminuir a separação */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.02);
  border: 1px solid #b6a8a5;
  border-radius: 4px;
  margin: 5px 5px;
  background-color: #e9e9e9;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.3);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 9px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(45, 45, 45);
}

#feature .fe-box:nth-child(1) h6 {
  background-color: #e2a88b;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #89d8e1;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #e28abd;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #b8dd7f;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #88bfe1;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #a28fda;
}

/* Principais ou mais famosos produtos  */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #5f4c45;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

#product1 .pro img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #1c1717;
  font-size: 12px;
}

#product1 .pro .des h5 {
  color: #0d0d0d;
  font-size: 16px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: yellowgreen;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 500;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8e3e3;
  font-weight: 500;
  color: yellowgreen;
  border: 1px solid black;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* Banner com promoção de desconto */
#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/static/loja/img/banner/gatosbanner1.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #e8e3e3;
  font-size: 16px;
  font-weight: 400;
}

#banner h2 {
  color: #e8e3e3;
  font-size: 30px;
  font-weight: 500;
  padding: 10px 0;
}

#banner h2 span {
  color: #ff1f1f;
  font-weight: 700;
  text-transform: uppercase;
}

#banner .normal {
  color: #1c1717;
  margin-top: 20px;
}

#banner button:hover {
  background: #a1a5a4;
  color: #000;
}

/* Banner de envio de noticias/promoções */
#newsletter {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("/static/loja/img/newsletter/gatonews3.webp");
  background-position: 50% 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b8dd7f;
  height: 25vh;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

#newsletter p span {
  color: #ff1f1f;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #e8e3e3;
  color: #0d0d0d;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#newsletter button:hover {
  background-color: #a1a5a4;
  color: #0d0d0d;
  white-space: nowrap;
}

/* Footer/parte de baixo do site */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
  width: 20vh;
}

footer h4 {
  font-size: 18px;
  padding-bottom: 20px;
}

footer p {
  font-size: 14px;
  margin: 0 0 8px 0;
  color: #575757;
}

footer a {
  font-size: 14px;
  text-decoration: none;
  color: #575757;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #1c1717;
  padding-right: 4px;
  cursor: pointer;
}

footer i {
  font-size: 35px;
}

footer .install .row img {
  border-radius: 10px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #89d8e1;
}

.install img {
  width: 200px;
  height: 60px;
}

footer p strong {
  color: #1c1717;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

.copyright p {
  font-size: 16px;
}

/* Loja/shop pagina */

#page-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url(/static/loja/img/banner/cachorro.jpg);
  background-position: 50% 90%;
  background-size: 70%;
  height: 40vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header p,
#page-header h3 {
  color: #f2f2f2;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: yellowgreen;
  padding: 15px 20px;
  border-radius: 4px;
  color: #0d0d0d;
  font-weight: 600;
}

#pagination i {
  font-weight: 800;
  font-size: 16px;
}

/* Estilos da pagina login e cadastro*/

.signin-container ,.login-container {
  display: flex;
  width: 100%;
  height: 95vh;
}

.nosf-logo {
  display: flex;
  justify-content: center;
}

.nosf-logo img {
  width: 100px;
  height: 100px;
}

.image-side-left {
  width: 50%;
  float: left;
}

.image-side-right {
  width: 50%;
  float: right;
}

.image-side-left img, .image-side-right img{
  width: 100%;
  height: 95vh;
  object-fit: cover;
}

.login-form-side-right, .signin-form-side-left  {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.login-form-container, .signin-form-container {
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.signin-container h1, h2, .login-container h1, h2 {
  color: #333;
  text-align: center;
}

.signin-container h1, .login-container h1{
  font-weight: 700;
  font-size: 35px;
  margin: none;
}

.signin-container h2, .login-container h2{
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 5px;
}

form .fieldset-login, form .fieldset-signin {
  width: 100% ;
  min-width: 400px ;
  border: 1px #333 solid;
  padding: 20px;
  margin: 20px 0px auto;
  border-radius: 10px;
  background-color: #e4e4e4;
  align-self: center;
}

form .fieldset-login{
  width: auto !important;
  min-width: none !important;
}

.fieldset-login label, .fieldset-signin label {
  margin-bottom: 5px;
  color: #555;
  text-align: left;
  display: block;
}

fieldset input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: renogare;
}

.sexo-container {
  display: flex;
  align-items: center;
  margin:  20px 0px 10px 0px;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-label {
  display: flex !important;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0px 10px;
}

#masculino, #feminino{
  margin-right: 5px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: yellowgreen;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: #333;
  transition: 0.1s ease-in-out;
}

/* Unico produto */
#prodetails {
  display: flex;
  margin-top: 20px;
}

#MainImg {
  width: 56.2vh;
  height: 70vh;
}

#prodetails .single-pro-image {
  width: 30%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img {
  width: 125px;
  height: 130px;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h6 {
  font-size: 16px;
}

#prodetails .single-pro-details h4 {
  padding: 20px 0 10px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
  padding-bottom: 10px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details button {
  background: yellowgreen;
  color: black;
}

#prodetails .single-pro-details span {
  line-height: 25px;
  font-weight: 200;
}

/* Caixa de rastreio, provavelmente vou juntar isso na pagina de usuario igual na pichau */
#tracking {
  background-color: #424242;
  padding: 30px 100px;
  margin: 15%;
}

#tracking .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#tracking .order-info {
  text-align: center;
  margin-bottom: 30px;
}

#tracking .order-info h1 {
  font-size: 2.5rem;
  color: #1c1717;
  margin-bottom: 10px;
}

#tracking .order-info span {
  font-weight: bold;
}

#tracking .arrival-info {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  color: #757575;
}

#tracking .arrival-info span {
  font-weight: 600;
}

/* Botoes do tracking, consertar linha entre eles */
#tracking .track {
  position: relative;
}

#tracking .track ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#tracking .step {
  text-align: center;
  flex: 1;
  position: relative;
}

#tracking .step .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  margin: 0 auto 15px;
}

#tracking .step.active .icon {
  background-color: yellowgreen;
}

/* Estilos do chart */

/* Palheta de cores */
.modoclaro {
  --text: #1c1717;
  --background: #f2f2f2;
  --primary: #5a4d4a;
  --secondary: #baa7a0;
  --accent: #a1a5a4;
}

.modoescuro {
  --text: #e8e3e3;
  --background: #0d0d0d;
  --primary: #b6a8a5;
  --secondary: #5f4c45;
  --accent: #5a5e5d;
}
