<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <title>CHART</title>
</head>

<body>
    <canvas style="margin: 150px 150px 50px 500px; width: 100%; max-width: 500px;" id="myChart"></canvas>
    <script>
        var xyValues = [
          {x:50, y:7},
          {x:60, y:8},
          {x:70, y:8},
          {x:80, y:9},
          {x:90, y:9},
          {x:100, y:9},
          {x:110, y:10},
          {x:120, y:11},
          {x:130, y:14},
          {x:140, y:14},
          {x:150, y:15}
        ];
        
        new Chart("myChart", {
          type: "line",
          data: {
            datasets: [{
              pointRadius: 10,
              pointBackgroundColor: "yellowgreen",
              data: xyValues
            }]
          },
          options: {
            legend: {display: false},
            scales: {
              xAxes: [{ticks: {min: 40, max:160}}],
              yAxes: [{ticks: {min: 6, max:16}}],
            }
          }
        });
        </script>
</body>

</html>