{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nosferatu</title>
        <link href="{% static 'loja/styles.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link href="https://fonts.cdnfonts.com/css/renogare" rel="stylesheet">
        <link rel="icon" href="{% static 'loja/img/icon/Frame 3.png'%}"> 
    </head>
    <body>
        {% include 'loja/snippets/header.html' %}

        <section id="hero">
            <h3>Loja de Gatos</h3>
            <p>{{ motd }}</p> <!--Coloca teu bagulhete aqui-->
            <button><a href="">Explorar</a></button>
        </section>

        <section id="feature" class="section-p1">

            <div class="fe-box">
                <img src="{% static 'loja/img/inicio/opçoes (1).png'%}" alt="">
                <h6> Suporte 24/7</h6>
            </div>
            <div class="fe-box">
                <img src="{% static 'loja/img/inicio/opçoes (2).png'%}" alt="">
                <h6> Frete Gratis</h6>
            </div>
            <div class="fe-box">
                <img src="{% static 'loja/img/inicio/opçoes (3).png'%}" alt="">
                <h6>Entrega Rapida</h6>
            </div>
            <div class="fe-box">
                <img src="{% static 'loja/img/inicio/opçoes (4).png'%}" alt="">
                <h6>Economize Dinheiro</h6>
            </div>
            <div class="fe-box">
                <img src="{% static 'loja/img/inicio/opçoes (5).png'%}" alt="">
                <h6>Promoções</h6>
            </div>
            <div class="fe-box"> 
                <img src="{% static 'loja/img/inicio/opçoes (6).png'%}" alt="">
                <h6>Venda e Compra</h6>
            </div>

        </section>

        <section id="product1" class="section-p1">
            <h3>Principais Produtos</h3>

            <div class="pro-container">
                {% for produto in produtos %}
                {% include 'loja/snippets/caixa_produto.html' with produto=produto %}
                {% endfor %}
            </div>
        </section>

        <section id="banner" class="section-m1">
            <h4> Venda de Gatos</h4>
            <h2>Até <span>70% de Desconto</span> - Todas as Raças</h2>
            <button class="normal">Ver Descontos</button>

        </section>

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Se Inscreva para Noticias e Promoções</h4>
                <p>Receba e-mails com atualizações e <span>promoções especiais.</span></p>
            </div>
            <div class="form">
                <input type="email" placeholder="Seu endereço de e-mail">
                <button class="normal">Confirmar</button>
            </div>
        </section>

        {% include 'loja/snippets/footer.html' %}
        
        <script src="{% static 'loja/script.js'%}"></script>
    </body>
</html>