{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nosferatu</title>
        <link href="{% static 'loja/styles.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link href="https://fonts.cdnfonts.com/css/renogare" rel="stylesheet">
        <link rel="icon" href="{% static 'loja/img/icon/Frame 3.png'%}"> 
    </head>
    <body>
        
        <section id="login">
            <h1> Faça o login</h1>
            <h2>Por favor preencha os campos abaixo.</h2>

            <form method="post" action="/api/entrar_cliente">
                <fieldset class="loginput">
                    <label for="">Seu e-mail: <input type="email" required></label>
                    <label for="">Senha: <input type="password" required></label>
                    <input type="submit">
                </fieldset>
            </form>
        </section>

    </body>
</html>