{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosferatu</title>
    <link href="{% static 'loja/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.cdnfonts.com/css/renogare" rel="stylesheet">
    <link rel="icon" href="{% static 'loja/img/icon/Frame 3.png' %}">
</head>

<body>
    {% include 'loja/snippets/header.html' %}

    <h1 class="h1profile">Perfil de Usuario</h1>

    <div class="container">
        <section id="profile">
            <div class="profile-content">
                <form method="post">
                    {% csrf_token %}
                    <span style="color: red;">{{ erro }}</span>
                    <label for="name">
                        <span>Nome:</span>
                        <input type="text" name="nome" placeholder="Seu Nome" value="{{ cliente.nome }}" required>
                    </label>
                    <label for="email">
                        <span>E-mail:</span>
                        <input type="email" name="email" placeholder="email@exemplo.com" value="{{ cliente.usuario.username }}" required>
                    </label>
                    <label for="password">
                        <span>Senha:</span>
                        <input type="password" name="senha" placeholder="senha123" required>
                    </label>
                    <label for="address">
                        <span>Endereço:</span>
                        <input type="text" name="endereco" placeholder="Rua Exemplo, 123" value="{{ cliente.endereco }}" required>
                    </label>
                    <div class="buttons">
                        <button class="submit" type="submit">Salvar</button>
                        <button class="logout" type="reset" onclick="location.href = '/logout';">Sair</button>
                    </div>
                    <button class="deleteall" type="button" onclick="confirmDelete()">Apagar todos os dados</button>
                </form>
            </div>
        </section>

        <section id="extra-buttons">
            <div>Meus Pedidos</div>
            <div id="orders-container">
                <table>
                    <thead>
                        <tr>
                            <th>Número do Pedido</th>
                            <th>Data</th>
                            <th>Valor</th>
                            <th>Forma de Pagamento</th>
                            <th>Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                            <tr>
                                <td>{{ pedido.id }}</td>
                                <td>{{ pedido.data|date:"Y-m-d f" }}</td>
                                <td>{{ pedido.valor_pago }}</td>
                                <td>{{ pedido.forma_pagamento }}</td>
                                <td><a href="#">Abrir</a></td>
                            </tr>
                        {% endfor %}
                        
                        <!--
                        Só criar outra assim:  
                        <tr>
                            <td><img src="https://via.placeholder.com/50" alt="Produto"></td>
                            <td>966961584</td>
                            <td>19/05/2024 10:56:35</td>
                            <td>R$ 311,51</td>
                            <td>Pix</td>
                            <td><a href="#">Abrir</a></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    {% include 'loja/snippets/newsletter.html' %}
    {% include 'loja/snippets/footer.html' %}

    <!-- Eu não sei como fazer com que apague dados do Django -->
    <script>
        function confirmDelete() {
            if (confirm('Você realmente deseja apagar todos os dados?')) {
                // Substituir pelo metodo de apagar dados do django
                window.location.href = '/apagar-usuario';
            }
        }
    </script>
</body>

</html>
