{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nosferatu</title>
        <link href="{% static 'loja/styles.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link href="https://fonts.cdnfonts.com/css/renogare" rel="stylesheet">
        <link rel="icon" href="{% static 'loja/img/icon/Frame 3.png'%}"> 
    </head>
    <body>
        {% include 'loja/snippets/header.html' %}

        <section id="page-header">
            <h3>Produtos para PET com 80% de desconto</h3>
            <p>Se deus quiser promoção naqueles pique.</p>
        </section>

        <section id="product1" class="section-p1">

            <div class="pro-container">
                {% for produto in produtos %}
                {% include 'loja/snippets/caixa_produto.html' with produto=produto %}
                {% endfor %}
            </div>
        </section>

        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
        </section>

        {% include 'loja/snippets/newsletter.html' %}
        {% include 'loja/snippets/footer.html' %}

        <script src="css/script.js"></script>
    </body>
</html>