<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosferatu</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.cdnfonts.com/css/renogare" rel="stylesheet">
    <link rel="icon" href="/static/img/icon/Frame 3.png">
</head>

<body>

    <section id="header">
        <a href="#"><img style=" width: 30vh;" src="/static/img/icon/Nosferatulogog4.png" alt="gato lindao"></a>

        <div>
            <ul id="navbar">
                <li> <a href="/">Inicio</a></li>
                <li> <a class="active" href="/shop">Loja</a></li>
                <li> <a href="/about">Sobre</a></li>
                <li> <a href="/contact">Contato</a></li>
                <li> <a href="/login">Entrar</a></li>
                <li> <a href="/signin">Cadastrar-se</a></li>
                <li> <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>

    </section>

    <section id="prodetails" class="section-p1">

        <div class="single-pro-image">
            <img width="100%" id="MainImg" src="/static/img/gatos/gatomorcego.webp" alt="TESTE">

            <div class="small-img-group">

                <div class="small-img-col">
                    <img width="100%" class="small-img" src="/static/img/gatos/gatomorcego2.jpg" alt="TESTE">
                </div>
                <div class="small-img-col">
                    <img width="100%" class="small-img" src="/static/img/gatos/gatomorcego3.jpg" alt="TESTE">
                </div>
                <div class="small-img-col">
                    <img width="100%" class="small-img" src="/static/img/gatos/gatomorcego4.jpeg" alt="TESTE">
                </div>
                <div class="small-img-col">
                    <img width="100%" class="small-img" src="/static/img/gatos/gatomorcego5.jpg" alt="TESTE">
                </div>

            </div>
        </div>

        <div class="single-pro-details">
            <h6>Animais / Pets</h6>
            <h4>O maior chupador de sangue</h4>
            <h2>R$ 139,00</h2>

            <select>
                <option>Escolha cor</option>
                <option>Bege</option>
                <option>Preto</option>
                <option>Caramelo</option>
                <option>Vampiresco</option>
            </select>

            <input type="number" value="1">
            <button class="normal">Adicionar ao Carrinho</button>
            <h4>Descrição do Produto</h4>
            <span>Esse gato simplesmente tem os melhores dentes existestens na face da TERRA. Ele consegue chupar 5
                litros de sangue em 10 segundos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in
                lobortis nisl, ut consequat turpis. Vestibulum fermentum placerat mauris, ut vehicula risus maximus sed.
                Pellentesque vehicula nunc eu interdum interdum. Mauris vulputate velit ut lacus luctus, sed faucibus
                tortor pharetra. Etiam quis nisl in enim convallis pretium. Integer aliquet risus at semper dictum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend et tellus ac tempus. Sed
                interdum justo id pretium lacinia. Nam tincidunt ex non dui consequat tempus. Proin sit amet hendrerit
                erat. Suspendisse ex neque, luctus sit amet rutrum id, volutpat in massa. Sed mattis fringilla nisl, vel
                faucibus turpis. Curabitur faucibus, elit vel tempus laoreet, est eros faucibus nisi, sit amet aliquam
                nisi ipsum in mi. Aenean at eros non magna congue ultricies.

                Sed eleifend eget elit quis placerat. Aliquam condimentum egestas vestibulum. Vivamus vel pharetra ex.
                Sed ullamcorper leo dolor, sit amet ullamcorper mi aliquet eu. Vivamus ornare eget arcu vitae pretium.
                Nullam fermentum nunc sapien, ut finibus massa convallis nec. Sed non pharetra risus. Vivamus mollis
                augue non viverra ultricies. Suspendisse sit amet ligula sit amet libero convallis faucibus vulputate
                sed sapien. Etiam id elit vel nunc posuere dictum. Vestibulum mollis nibh vel venenatis rutrum. </span>

        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Se Inscreva para Noticias e Promoções</h4>
            <p>Receba e-mails com atualizações e <span>promoções especiais.</span></p>
        </div>
        <div class="form">
            <input type="email" placeholder="Seu endereço de e-mail">
            <button class="normal">Confirmar</button>
        </div>
    </section>

    <footer class="section-p1">

        <div class="col">
            <img class="logo" src="/static/img/icon/Nosferatulogog4.png" alt="Logo">
            <h4>Contato</h4>
            <p><strong>Endereço: </strong>Faculade Meta</p>
            <p><strong>Telefone: </strong>(96) 981112691</p>
            <p><strong>Horas: </strong>8:00 - 18:00, Segunda - Sexta</p>
            <div class="follow">
                <h4>Siga a gente!</h4>
                <div class="icon">
                    <a href="https://github.com/naveganth/Projeto-Banco-de-Dados"><i
                            class="fa-brands fa-square-github"></i></a>
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <i class="fa-brands fa-square-youtube"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>Sobre</h4>
            <a href="#">Sobre Nós</a>
            <a href="#">Informação de Entrega</a>
            <a href="#">Política de Privacidade</a>
            <a href="#">Termos e Condições</a>
            <a href="#">Contate a gente</a>
        </div>

        <div class="col">
            <h4>Adições Futuras</h4>
            <a href="#">Lista de favoritos</a>
            <a href="#">Rastreio de Encomenda</a>
            <a href="#">Ajuda</a>
            <a href="#">FAQ</a>
            <a href="#">Ajuda</a>
        </div>

        <div class="install">
            <h4>Instalar Aplicativo 💀</h4>
            <p>Apple Store ou Google Play </p>
            <div class="row">
                <img src="/static/img/footer/googleplay.png" alt="">
                <img src="/static/img/footer/appstore.png" alt="">
            </div>
        </div>

        <div class="copyright">
            <p>2024 - Galera do Projeti de Banco de Dados</p>
        </div>
    </footer>

    <script>
        var MainImg = document.getElementById("MainImg");
        var smallimg = document.getElementsByClassName("small-img");

        smallimg[0].onclick = function(){
            MainImg.src = smallimg[0].src;
        }

        smallimg[1].onclick = function(){
            MainImg.src = smallimg[1].src;
        }

        smallimg[2].onclick = function(){
            MainImg.src = smallimg[2].src;
        }

        smallimg[3].onclick = function(){
            MainImg.src = smallimg[3].src;
        }

        smallimg[4].onclick = function(){
            MainImg.src = smallimg[4].src;
        }
    </script>

</body>

</html>