{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nosferatu</title>
        <link href="{% static 'loja/styles.css'%}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link href="https://fonts.cdnfonts.com/css/renogare" rel="stylesheet">
        <link rel="icon" href="{% static 'loja/img/icon/Frame 3.png'%}"> 
    </head>
    <body>
        {% include 'loja/snippets/header.html' %}
        <section id="prodetails" class="section-p1">

            <div class="single-pro-image">
                <img width="100%" id="MainImg" src="{{ produto.url_imagem }}" alt="TESTE">

                <div class="small-img-group">

                    <div class="small-img-col">
                        <img width="100%" class="small-img" src="/static/img/gatos/gatomorcego2.jpg" alt="TESTE">
                    </div>
                    <div class="small-img-col">
                        <img width="100%" class="small-img" src="/static/img/gatos/gatomorcego3.jpg" alt="TESTE">
                    </div>
                    <div class="small-img-col">
                        <img width="100%" class="small-img" src="/static/img/gatos/gatomorcego4.jpeg" alt="TESTE">
                    </div>
                    <div class="small-img-col">
                        <img width="100%" class="small-img" src="/static/img/gatos/gatomorcego5.jpg" alt="TESTE">
                    </div>

                </div>
            </div>
            <div class="single-pro-details">    
                <h6>Animais / Pets</h6>     <!-- nem sabia que exisita algo acima de h3-->
                <h4>{{ produto.nome }}</h4>
                <h4>R$: {{ produto.preco }}</h4> 
                <form method="post" target="dummy-iframe">
                    {% csrf_token %}
                    <div>
                        <span>Em estoque: {{ produto.estoque }}</span>
                        <input type="number" value="1" name="quantidade">
                        <input type="hidden" value="{{ produto.id }}" name="id">
                    </div>
                    {% if cliente %}
                        <button class="normal" onclick="mostrar_carrinho()">Adicionar ao Carrinho</button>
                    {% else %}
                        <button class="normal" type="button" onclick="location.href = '/login';">Adicionar ao Carrinho</button>
                    {% endif %}
                </form>
                <iframe style="display:none;" name="dummy-iframe"></iframe>
                <h4>Descrição do Produto</h4>
                <span>{{ produto.descricao }}</span>

            </div>
        </section>

        {% include 'loja/snippets/newsletter.html' %}
        {% include 'loja/snippets/footer.html' %}

    </body>
</html>

<script>
    var MainImg = document.getElementById("MainImg");
    var smallimg = document.getElementsByClassName("small-img");

    smallimg[0].onclick = function(){
        MainImg.src = smallimg[0].src;
    }

    smallimg[1].onclick = function(){
        MainImg.src = smallimg[1].src;
    }

    smallimg[2].onclick = function(){
        MainImg.src = smallimg[2].src;
    }

    smallimg[3].onclick = function(){
        MainImg.src = smallimg[3].src;
    }

    smallimg[4].onclick = function(){
        MainImg.src = smallimg[4].src;
    }

    function mostrar_carrinho() {
        setTimeout(function(){
            let iframe = document.getElementById("dummy-carrinho");

            if (!carrinho_visivel) {
                iframe.style.display = "block";
                iframe.contentWindow.location.replace("/cart");
                carrinho_visivel = true;
            } else {
                iframe.contentWindow.location.replace("/cart");
            }
        }, 500);
    }
</script>