@import url("https://fonts.googleapis.com/css?family=Renogare:700|Renogare:400");

* {
  font-family: "Renogare", Arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}
/* 16px  */

h1 {
  font-size: 4.21rem;
  line-height: 64px;
}
/* 67.36px  */

h2 {
  font-size: 3.158rem;
}
/* 50.56px  */

h3 {
  font-size: 2.369rem;
}
/* 37.92px  */

h4 {
  font-size: 1.777rem;
}
/* 28.48px  */

h5 {
  font-size: 1.333rem;
}
/* 21.28px  */

p {
  font-size: 0.75rem;
  color: #1c1717;
}
/* 12px  */

body {
  width: 100%;
}

.section-p1{
  margin: 40px 80px;
}

.section-m1{
  margin: 40px 0;
}

.modoclaro {
  --text: #1c1717;
  --background: #f2f2f2;
  --primary: #5a4d4a;
  --secondary: #baa7a0;
  --accent: #a1a5a4;
}

.modoescuro {
  --text: #e8e3e3;
  --background: #0d0d0d;
  --primary: #b6a8a5;
  --secondary: #5f4c45;
  --accent: #5a5e5d;
}
