{% load static %}
<footer class="section-p1">

    <div class="col">
        <img class="logo" src="{% static 'loja/img/icon/Nosferatulogog4.png'%}" alt="Logo">
        <h4>Contato</h4>
        <p><strong>Endereço: </strong>Faculade Meta</p>
        <p><strong>Telefone: </strong>(96) 981112691</p>
        <p><strong>Horas: </strong>8:00 - 18:00, Segunda - Sexta</p>
        <div class="follow">
            <h4>Siga a gente!</h4>
            <div class="icon">
                <a href="https://github.com/naveganth/Projeto-Banco-de-Dados"><i class="fa-brands fa-square-github"></i></a>
                <i class="fa-brands fa-square-whatsapp"></i>
                <i class="fa-brands fa-square-youtube"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-square-instagram"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Sobre</h4>
        <a href="#">Sobre Nós</a>
        <a href="#">Informação de Entrega</a>
        <a href="#">Política de Privacidade</a>
        <a href="#">Termos e Condições</a>
        <a href="#">Contate a gente</a>
    </div>

    <div class="col">
        <h4>Adições Futuras</h4>
        <a href="#">Lista de favoritos</a>
        <a href="#">Rastreio de Encomenda</a>
        <a href="#">Ajuda</a>
        <a href="#">FAQ</a>
        <a href="#">Ajuda</a>
    </div>

    <div class="install">
        <h4>Instalar Aplicativo 💀</h4>
        <p>Apple Store ou Google Play </p>
        <div class="row">
            <img src="{% static 'loja/img/footer/googleplay.png'%}" alt="">
            <img src="{% static 'loja/img/footer/appstore.png'%}" alt="">
        </div>
    </div>

    <div class="copyright">
        <p>2024 - Galera do Projeti de Banco de Dados</p>
    </div>
</footer>