{% load static %}
<style>
    .dummy-iframe {
        display: None;
        position: absolute;
        right: 20px;
        top: 50px;
        width: 600px;
        height: 600px;
        border-color: #848384;
        border-style: solid; 
        border-width: 2px; 
        border-radius: 10px;
    }
</style>
<section id="header">
    <a href="/"><img style=" width: 30vh;" src="{% static 'loja/img/icon/Nosferatulogog4.png'%}" alt="gato lindao"></a> 
    <div>
        <ul id="navbar">
            <li> <a {% if request.path == '/' %} class="active" {% endif %} href="/">Inicio</a></li>
            <li> <a {% if request.path == '/shop' %} class="active" {% endif %} href="/shop">Produtos</a></li>
            {% if cliente %}
            <li> <a href="/profile">{{ cliente.nome }}</a></li>
            {% else %}
            <li> <a class="header-button" href="/login">Entrar</a></li>
            <li> <a class="header-button" href="/signin">Cadastrar-se</a></li>
            {% endif %}
            <li> <button onclick="mostrar_carrinho_header()" style="border: none; padding: 10px"><i class="fa-solid fa-cart-shopping"></i></button></li>
            <iframe id="dummy-carrinho" name="dummy" class="dummy-iframe"></iframe>
        </ul>
    </div>
</section>
<script>
    let carrinho_visivel = false;
    function mostrar_carrinho_header() {
        let iframe = document.getElementById("dummy-carrinho");

        if (carrinho_visivel) {
            iframe.style.display = "none";
            carrinho_visivel = false;
        } else {
            iframe.style.display = "block";
            iframe.contentWindow.location.replace("/cart");
            carrinho_visivel = true;
        }
    }
</script>