{% load static %}
<section id="header">
    <a href="/"><img style=" width: 30vh;" src="{% static 'loja/img/icon/Nosferatulogog4.png'%}" alt="gato lindao"></a> 

    <div>
        <ul id="navbar">
            <li> <a {% if request.path == '/' %} class="active" {% endif %} href="/">Inicio</a></li>
            <li> <a {% if request.path == '/shop' %} class="active" {% endif %} href="/shop">Loja</a></li>
            <li> <a href="/about">Sobre</a></li>
            <li> <a href="/contact">Contato</a></li>
            <li> <a href="/login">Entrar</a></li>
            <li> <a href="/signin">Cadastrar-se</a></li>
            <li> <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>

</section>