<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="5">
        <link rel="stylesheet" href="">
    </head>
    <body style="display: flex; flex-direction: column">
        <h1 style="margin-bottom: 0px">Geral</h1>
        <h3>Acessos</h3>
        <span>hoje: {{ acessos_hoje }}</span>
        <span>{{ mes_atual }}: {{ acessos_mes }}</span>
        <h3>Compras</h3>
        <span>hoje: {{ compras_hoje}}</span>
        <span>{{ mes_atual }}: {{ compras_mes }}</span>
        <script src="" async defer></script>
    </body>
</html>
