<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="display: flex; flex-direction: column">
        <h1>Importação</h1>
        <h3>Produtos</h3>
        <input type="file">
        <h3>Clientes</h3>
        <input type="file">
        <h3>Compras</h3>
        <input type="file">

        <h1>Exportação</h1>
        <h3>Produtos</h3>
        <div>
            <button>Exportar produtos</button>
        </div>
        <h3>Clientes</h3>
        <div>
            <button>Exportar produtos</button>
        </div>
        <h3>Compras</h3>
        <div>
            <button>Exportar produtos</button>
        </div>
    </body>
</html>