{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="display: flex; flex-direction: column">
        <h1>Importação</h1>
        
        <form method="post" enctype="multipart/form-data">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <div style="margin-left: 1rem;">
                    <h3>Clientes</h3>
                    <input type="file" name="cliente">
                </div>
                <div style="margin-left: 1rem;">
                    <h3>Produtos</h3>
                    <input type="file" name="produto">
                </div>
                <button style="margin-left: 1rem; height: 2rem;">Importar</button>
            </div>
        </form>

        <h1>Exportação</h1>
        <div style="display: flex; flex-direction: row">
            <div style="display: flex; flex-direction: column">
                <h3>Produtos</h3>
                <a href="{% static 'loja/backup/produtos.csv' %}" download>Exportar produtos</a>
            </div>
            <div style="display: flex; flex-direction: column; margin-left: 3rem;">
                <h3>Clientes</h3>
                <a href="{% static 'loja/backup/clientes.csv' %}" download>Exportar produtos</a>
            </div>
        </div>
    </body>
</html>